# Google Cloud Project ID
GOOGLE_PROJECT_ID=

# Service account email for authentication
GOOGLE_SERVICE_ACCOUNT_EMAIL=

# Docker Artifact/Container Registry repo name (not full path)
DOCKER_REPO=

# Docker image name (e.g. unlisted-portfolio)
IMAGE_NAME=

# Docker image tag (e.g. latest)
IMAGE_TAG=

# Cloud Run service name
CLOUD_RUN_SERVICE_NAME= 